img {
  max-width: 250px
}

p.light {
  font-size: 25px;
  font-weight: lighter;
  text-align: center;
}

p.bolder {
  font-size: 25px;
  font-weight: bold;
}

#description {
  font-style: italic;
  font-weight: normal;
}
